.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .highway {
    width: 800px;
    height: 600px;
  }
}

.chart {
  background-color: #000;
  width: 600px;
  height: 1024px;
  /* // display: flex;
  // flex-direction: column-reverse; */
  overflow-y: scroll;
  /* // transform: rotate3d(1, 0, 0, 45deg); */
  transform: perspective(1000px) rotateX(30deg);
  position: relative;
}